{
    "swagger": "2.0",
    "info": {
        "description": "API untuk aplikasi RelawanKu",
        "title": "RelawanKu API",
        "contact": {},
        "version": "1.0"
    },
    "host": "relawanku.xyz",
    "paths": {
        "/api/v1/admin/donasi": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Mengambil daftar semua donasi",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "donasi"
                ],
                "summary": "Dapatkan Semua Donasi",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Membuat donasi baru oleh admin",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "donasi"
                ],
                "summary": "Buat Donasi Baru",
                "parameters": [
                    {
                        "description": "Informasi Donasi",
                        "name": "donasi",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.DonasiRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/admin/donasi/{category}": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Mengambil daftar semua donasi sesuai kategori",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "donasi"
                ],
                "summary": "Dapatkan Donasi Sesuai Kategori",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Category Donasi",
                        "name": "category",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/admin/donasi/{id}": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Mengambil daftar semua donasi sesuai ID",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "donasi"
                ],
                "summary": "Dapatkan Donasi Sesuai ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Donasi ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Memperbarui donasi berdasarkan ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "donasi"
                ],
                "summary": "Update Donasi",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "ID Donasi",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Informasi Donasi yang Diperbarui",
                        "name": "donasi",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.DonasiRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Menghapus donasi berdasarkan ID",
                "tags": [
                    "donasi"
                ],
                "summary": "Hapus Donasi",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "ID Donasi",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "request.DonasiRequest": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "finished_at": {
                    "type": "string"
                },
                "image_url": {
                    "type": "string"
                },
                "news": {
                    "type": "string"
                },
                "started_at": {
                    "type": "string"
                },
                "target_donation": {
                    "type": "number"
                },
                "title": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "BearerAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}